<h1>Lista de usuários</h1>

<%= link_to 'Adicionar usuário', users_new_path %>

<% if @users.empty? %>
  <p>Não há usuários cadastrados</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ação</th>
    </tr>
   </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td><%= link_to 'Criar ficha', training_plan_new_path(user.id) %></td>
        <td><%= link_to 'Fichas', user_training_plans_path(user_id: user.id) %></td>
        <td><%= link_to 'Apagar', user_delete_path(user), data: {'turbo-method': :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', root_path %>