<h1>Detalhes da Ficha</h1>

<%= link_to 'Criar grupo muscular', muscle_groups_new_path %>

<% @muscle_groups.each do |muscle_group| %>
  <dl>
     <div id='delete_muscle_group'>
        <dt><%= muscle_group.name %> - <%= link_to 'Adicionar exercício', muscle_exercise_new_path(muscle_group_id: muscle_group.id) %> |<%= link_to 'Apagar', muscle_group_delete_path(muscle_group_id: muscle_group.id, training_plan_id: muscle_group.training_plan_id) %></dt>
      </div>
    <dd>
      <% @exercises = find_exercises(muscle_group.id) %>
      <% unless @exercises.empty? %>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Repetição</th>
              <th>Serie</th>
              <th>Observação</th>
              <th>Músculo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <% @exercises.each do |muscle_exercise| %>
              <tr>
                <td><%= muscle_exercise.exercise.name.titleize %></td>
                <td><%= muscle_exercise.repetition %></td>
                <td><%= muscle_exercise.set %></td>
                <td><%= muscle_exercise.observation.blank? ? '-' : muscle_exercise.observation %></td>
                <td><%= muscle_exercise.exercise.muscle_id %></td>
                <div id='delete_exercise_on_muscle_group'><td><%= link_to 'Apagar', muscle_exercise_delete_path(muscle_group_id: muscle_group.id, id: muscle_exercise.id), data: {'turbo-method': :delete} %></td></div>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Não há exercícios cadastrados para esse dia</p>
      <% end %>
    </dd>
  </dl>
<% end %>

