<h1>Lista de Musculos e Exercicios</h1>

<%= link_to 'Adicionar exercício', exercises_new_path %>

<% if @muscles.empty? %>
  <p>Não há nenhum registro para ser exibido</p>
<% end %>

<dl>
  <% @muscles.each do |muscles_exercise| %>
    <dt><%= muscles_exercise.first.titleize %></dt>
    <% if exercices_by_muscle(muscles_exercise.last).blank? %>
      <dd>Não há exercicíos cadastrados para esse músculo</dd>
    <% else%>
      <% exercices_by_muscle(muscles_exercise.last).each do |exercise| %>
        <dd><%= exercise.name.titleize %> - <%= link_to 'Apagar', exercise_delete_path(id: exercise.id), data: {'turbo-method': :delete} %></dd>
      <% end %>
    <% end %>
  <% end %>
</dl>

<%= link_to 'Voltar', root_path %>